
.contact-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #000000;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
  animation: fadeIn 1s ease-in-out; 
}


.restaurant-details {
  margin: 20px 0;
  color: #ffffff;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif; 
}

.restaurant-details p {
  margin: 5px 0;
}


@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form label {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #ffffff; 
  text-align: left;
  width: 100%;
  max-width: 500px;
  font-family: 'Roboto', sans-serif; 
}


.contact-form input, .contact-form textarea {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #333; 
  background-color: #1e1e1e; 
  color: #ffffff; 
  font-size: 1rem;
  font-family: 'Roboto', sans-serif; 
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s, transform 0.2s; 
}


.contact-form input:focus, .contact-form textarea:focus {
  box-shadow: 0 5px 15px rgba(30, 144, 255, 0.5); 
  transform: scale(1.02);
  outline: none;
  background-color: #333; 
}


.contact-form button {
  padding: 12px 25px;
  font-size: 1.1rem;
  border: none;
  background-color: #007bff; 
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); 
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}


.contact-form button:hover {
  background-color: #0056b3; 
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}


@media (max-width: 768px) {
  .contact-container {
      width: 95%;
      padding: 20px;
  }

  .contact-form input, .contact-form textarea {
      max-width: 100%;
  }

  .contact-form button {
      width: 100%;
      max-width: 500px;
  }
}
