<div class="gallery-grid">
    <div class="gallery-item">
      <img src="../../images/gallery1.jpg" alt="Restaurant Image 1">
    </div>
    <div class="gallery-item">
      <img src="assets/images/dining.jpg" alt="Restaurant Image 2">
    </div>
    <div class="gallery-item">
      <img src="assets/images/delivery.jpg" alt="Restaurant Image 3">
    </div>
    <div class="gallery-item">
      <img src="assets/images/catring.jpg" alt="Restaurant Image 4">
    </div>
    <div class="gallery-item">
      <img src="assets/images/gallery8.jpg" alt="Restaurant Image 5">
    </div>
  </div>
  