<app-cus-nav></app-cus-nav>
<div class="customer-services-container">
    <h2>Customer Services</h2>
  
    
    <input type="text" placeholder="Search for services..." [(ngModel)]="searchQuery" class="search-bar" (input)="filterCustomerServices()" />
  
    <div class="customer-services-grid">
      
      <div *ngFor="let service of filteredCustomerServices" class="customer-service-card" (click)="goToCustomerServiceDetails(service)">
        <i [class]="service.iconClass + ' service-icon'"></i>
        <h3>{{ service.title }}</h3>
        <p>{{ service.description }}</p>
      </div>
    </div>
  </div>
  