<div class="gallery-container">
  <h2>Gallery</h2>
  <div class="gallery-grid">
      <div class="gallery-item">
          <img src="assets/images/gallery7.jpg" alt="Restaurant Image 1">
          <div class="icon-overlay">
              <i class="fas fa-search-plus"></i>
              <i class="fas fa-link"></i>
          </div>
      </div>
      <div class="gallery-item">
          <img src="assets/images/agllery8.jpg" alt="Restaurant Image 2">
          <div class="icon-overlay">
              <i class="fas fa-search-plus"></i>
              <i class="fas fa-link"></i>
          </div>
      </div>
      <div class="gallery-item">
        <img src="assets/images/gallery9.jpg" alt="Restaurant Image 3">
        <div class="icon-overlay">
            <i class="fas fa-search-plus"></i>
            <i class="fas fa-link"></i>
        </div>
    </div>

      <div class="gallery-item">
          <img src="assets/images/gallery3.jpg" alt="Restaurant Image 4">
          <div class="icon-overlay">
              <i class="fas fa-search-plus"></i>
              <i class="fas fa-link"></i>
          </div>
      </div>
      <div class="gallery-item">
          <img src="assets/images/gallery4.jpg" alt="Restaurant Image 5">
          <div class="icon-overlay">
              <i class="fas fa-search-plus"></i>
              <i class="fas fa-link"></i>
          </div>
      </div>
      <div class="gallery-item">
        <img src="assets/images/catring.jpg" alt="Restaurant Image 3">
        <div class="icon-overlay">
            <i class="fas fa-search-plus"></i>
            <i class="fas fa-link"></i>
        </div>
    </div>
    <div class="gallery-item">
      <img src="assets/images/gallery1.jpg" alt="Restaurant Image 3">
      <div class="icon-overlay">
          <i class="fas fa-search-plus"></i>
          <i class="fas fa-link"></i>
      </div>
  </div>
  <div class="gallery-item">
    <img src="assets/images/gallery10.jpg" alt="Restaurant Image 3">
    <div class="icon-overlay">
        <i class="fas fa-search-plus"></i>
        <i class="fas fa-link"></i>
    </div>
</div>
  </div>
</div>