<div class="menu-container">
  <h1><i class="fas fa-utensils"></i> Our Menu</h1>

 
  <div class="country-filters">
    <label *ngFor="let country of countries">
      <input type="radio" name="country" (click)="setCountry(country)" [checked]="selectedCountry === country" />
      <i class="fas fa-flag"></i> {{ country }}
    </label>
  </div>

  
  <div class="search-bar">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Search menu items..." [(ngModel)]="searchTerm" (input)="filterMenu()">
  </div>

 
  <div class="filters">
    <label><i class="fas fa-leaf"></i> Veg
      <input type="checkbox" [(ngModel)]="filters.veg" (change)="filterMenu()">
    </label>
    <label><i class="fas fa-drumstick-bite"></i> Non-Veg
      <input type="checkbox" [(ngModel)]="filters.nonVeg" (change)="filterMenu()">
    </label>
    <label><i class="fas fa-coffee"></i> Breakfast
      <input type="checkbox" [(ngModel)]="filters.breakfast" (change)="filterMenu()">
    </label>
    <label><i class="fas fa-hamburger"></i> Lunch
      <input type="checkbox" [(ngModel)]="filters.lunch" (change)="filterMenu()">
    </label>
    <label><i class="fas fa-utensils"></i> Dinner
      <input type="checkbox" [(ngModel)]="filters.dinner" (change)="filterMenu()">
    </label>
  </div>

 
  <div class="menu-items">
    <div class="menu-item" *ngFor="let item of filteredMenuItems">
      <img [src]="item.image" alt="Menu Item Image">
      <div class="item-details">
        
        <h3>
          <i class="fas" 
             [ngClass]="{
               'fa-fish': item.type === 'seafood',
               'fa-bread-slice': item.type === 'bakery',
               'fa-hamburger': item.type === 'burger',
               'fa-drumstick-bite': item.type === 'nonVeg',
               'fa-leaf': item.type === 'veg',
               'fa-utensils': item.type === 'general'
             }"></i> 
          {{ item.name }}
        </h3>
        <p>{{ item.description }}</p>
        <span class="price"><i class="fas fa-tag"></i> LKR {{ item.price }}</span>
      </div>
    </div>
  </div>
</div>
