.rates-availability {
    background-color: #2b2b2b;
    color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
  }
  
  h2 {
    text-align: center;
    color: #ffcc00;
    font-family: 'Roboto', sans-serif;
  }
  
  label {
    font-size: 1.2em;
    display: block;
    margin-bottom: 10px;
    color: #ffcc00;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #2b2b2b;
  }
  
  button.btn-check {
    width: 100%;
    padding: 12px;
    background-color: #ffcc00;
    color: #2b2b2b;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.btn-check:hover {
    background-color: #ffa500;
  }
  
  .available-slots, .no-availability {
    margin-top: 20px;
  }
  
  .available-slots h3, .no-availability p {
    font-size: 1.2em;
  }
  
  .available-slots ul {
    list-style-type: none;
    padding: 0;
  }
  
  .available-slots ul li {
    padding: 10px;
    background-color: #444444;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  i {
    margin-right: 8px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  h2, h3 {
    animation: pulse 1.5s infinite;
  }
  